@import '~@/global.less';

// 通用 - 三种状态
.topBar {
  width: 100%;
  height: @topbar-height;
  position: fixed;
  z-index: 999;
  .transition(all 0.5s);
  &:hover {
    opacity: 1;
  }

  .logo_wrap {
    display: inline-block;
    width: 100px;
    font-size: 27px;
    font-weight: 600;
    height: @topbar-height;
    line-height: @topbar-height;
    margin-left: 40px;
    margin-right: 140px;
  }

  .pageList {
    display: inline-block;
    vertical-align: bottom;

    .pageList_item {
      display: inline-block;
      text-align: center;
      width: 70px;
      font-size: 15px;
      height: @topbar-height;
      line-height: @topbar-height;
      cursor: pointer;
    }
  }
}
// 全透明状态
.topBar_opacity {
  .pageList_item {
    color: @color-theme-bright;
  }
}

// 半透明状态
.topBar_halfOpac {
  opacity: 0.5;
}

// 实体状态
.topBar_normal {
  .index_shadow;
  background: #fff;
}

// 用实体撑起
.topBar_holder {
  width: 100%;
  height: @topbar-height;
  background: #fff;
}
